<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
<<h1>Today is <%= day %> </h1>

<form  action="/" method="post">
  <input type="text" name="todoItem" placeholder="Type your item here...">
  <button type="submit" name="submit">Add to To-Do List</button>

  <ul>
<% for (var i =0; i<newItem.length; i++){ %>


  <li> <%= newItem[i] %> </li>

 <%}%>


  </ul>
</form>
  </body>
</html>
